<app-nav-bar></app-nav-bar>
<div class="info">
    <button class="btn-sound"></button><audio id="theme-song"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/smb3-theme.mp3" loop="loop"></audio>
    <div class="score">
        <div class="turns">Turns: <span>2</span></div>
        <div class="attempts">Attempts: <span>0</span></div>
        <div class="wins">Wins: <span>0</span></div>
    </div>
</div>
<main>
    <div class="card" data-type="flower" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="mushroom" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="star" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="flower" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="mushroom" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="star" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="flower" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="mushroom" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="star" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="flower" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="mushroom" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="star" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="1up" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="coin10" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="coin20" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="1up" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="coin10" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <div class="card" data-type="coin20" data-matched="false">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    
</main>

<div class="success">
    <div class="success-icon" data-type="mushroom">
        <div class="front"></div>
    </div>
    <h2 class="success-message">Nice work!</h2>
    <div class="score">
        <div class="turns">Turns <span>2</span></div>
        <div class="attempts">Attempts <span>0</span></div>
        <div class="wins">Wins <span>0</span></div>
        <div class="attempts-overall">Attempts Overall <span>0</span></div>
    </div>
    <button class="btn-continue">Continue</button>
</div>
<div class="container" style="align-items: center; text-align: center">
    <button class="btn btn-primary btnChat" data-toggle="modal" data-target="#modalChat">
        Chat
    </button>
    <button class="btn btn-success btnGuardar" data-toggle="modal" data-target="#modalGuardar">
        Guardar Score
    </button>
    <button class="btn btn-warning btnScores" data-toggle="modal" data-target="#modalScores">
        Scores
    </button>
    <div class="modal fade" id="modalGuardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Guardar Score</h5>
                    </div>
                    <div class="modal-body">
                        <input placeholder="Ingrese nombre.." [(ngModel)]="this.scoreNuevo.name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            Seguir Jugando
                        </button>
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal"
                            (click)="guardarScore()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalScores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-body">
                        <table class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr height="100">
                                    <td colspan="5" align="center">
                                        <h2>Scores</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" align="center">Nombre</th>
                                    <th scope="col" align="center">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lista | async">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.score }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chat-->
    <div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <app-chat [nombreChat]="'memotest'" [app]="'memotest'"></app-chat>
            </div>
        </div>
    </div>
</div>