.carousel{
    width:100%;
    max-height: 900px !important;
  }
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image:url("../../../assets/images/icons8-next-52.png") ;
}
.carousel-control-prev-icon{
    height: 50px;
  width: 50px;
  border-radius: 50%;
background-image: url("../../../assets/images/icons8-previous-52.png");
}
.fnt{
    font-size: 25px;
}