<app-nav-bar></app-nav-bar>
<div id="container">
    <div id="user-label" class="badge">User</div>
    <div id="comp-label" class="badge">PC</div>
    <div class="score">
        <div class="resultadoTabla">
            <span id="user-score">{{ puntosUser }}</span>:<span id="comp-score">{{ puntoPC }}</span>
        </div>
        <p class="scoreReal">Score: {{ this.scoreNuevo.score }}</p>
    </div>
    <table style="width: 250px; height: 250px; text-align: center" align="center" class="tablero">
        <tr>
            <td id="cell11" class="cell"></td>
            <td id="cell12" class="cell"></td>
            <td id="cell13" class="cell"></td>
        </tr>
        <tr>
            <td id="cell21" class="cell"></td>
            <td id="cell22" class="cell"></td>
            <td id="cell23" class="cell"></td>
        </tr>
        <tr>
            <td id="cell31" class="cell"></td>
            <td id="cell32" class="cell"></td>
            <td id="cell33" class="cell"></td>
        </tr>
    </table>

    <p class="info">{{ resultado }}</p>
    <p class="info">+1 win -1 loss +0 draw</p>
        <button class="btn btn-primary btnChat" data-toggle="modal" data-target="#modalChat">
            Chat
        </button>
        <button class="btn btn-success btnGuardar" data-toggle="modal" data-target="#modalGuardar">
            Guardar Score
        </button>
        <button class="btn btn-warning btnScores" data-toggle="modal" data-target="#modalScores">
            Scores
        </button>

    <div class="modal fade" id="modalGuardar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Guardar Score</h5>
                    </div>
                    <div class="modal-body">
                        <input placeholder="Ingrese nombre.." [(ngModel)]="this.scoreNuevo.name" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Seguir Jugando
                        </button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            (click)="guardarScore()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalScores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div *ngIf="true">
                <div class="modal-content">
                    <div class="modal-body">
                        <table class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr height="100">
                                    <td colspan="5" align="center">
                                        <h2>Scores</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" align="center">Nombre</th>
                                    <th scope="col" align="center">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lista | async">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.score }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chat-->
    <div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <app-chat [nombreChat]="'Chat Tateti'" [app]="'tateti'"></app-chat>
            </div>
        </div>
    </div>
</div>