#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 700px;
    height: 610px;
    border-radius: 5px;
    background: #2B3E50;
}   


.title, .info{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

.tablero{
    margin-top: 10px;
    color: white;
    border: solid white 1px;
    background: #000000a6;
}

.cell{
    width:85px;
    height:85px;
    font-size: 30pt;
    font-family: arial;
    font-weight: 0.5px;
    text-align: center;
    border: solid white 1px
}


.btnRestart{
    margin-left: 10px;
}


.score{
    width: 200px;
	border:2px solid white;
	text-align: center;
	margin:10px auto; /*top and bottom 20 px and centre it*/
	padding: 20px 20px;
	font-size: 20px;
	position: relative;
	transition: 0.3s ease-in;
    color: white;
}


.badge{
	background-color: #15ff009a;
	padding: 2px 20px;
	font-size: 15px;
}

#user-label{
	position: absolute;
	top:10px;
	left: 10px;
}
#comp-label{
	position: absolute;
	top: 10px;
	right: 20px;
}

.resultado{
	font-size: 40px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.info{
    font-size: 15px;
}


.btnGuardar{
    margin-left: 110px;
}

.btnScores{
    margin-left: 100px;
}

.btnChat{
    margin-left: 120px;
}