<app-nav-bar></app-nav-bar>
<section class=" mt-3  ">

    <form class="form-control h-100 bg-primary text-white" [formGroup]="encuestaForm">
        <div class="row">
            <div class="col-5">
                <label for="">Nombre:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validatedInputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="validatedInputGroupPrepend" required>
                </div>
                <span *ngIf="encuestaForm.get('nombre')?.errors && 
                        (encuestaForm.get('nombre')?.dirty || encuestaForm.get('nombre')?.touched)">
                    <small class="text-danger" *ngIf="encuestaForm.get('nombre')?.hasError('required')">
                        ❌
                    </small>
                </span>


            </div>

            <div class="col-5">
                <label for="">Apellido:</label>

                <span *ngIf="encuestaForm.get('apellido')?.errors && 
                        (encuestaForm.get('apellido')?.dirty || encuestaForm.get('apellido')?.touched)">
                    <small class="text-danger" *ngIf="encuestaForm.get('apellido')?.hasError('required')">
                        ❌
                    </small>
                </span>

                <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="">Edad</label>  
                <span *ngIf="encuestaForm.get('edad')?.errors && 
                        (encuestaForm.get('edad')?.dirty || encuestaForm.get('edad')?.touched)">
                    <small class="text-danger" *ngIf="encuestaForm.get('edad')?.hasError('required')">
                        ❌
                    </small>
                </span>
                <span *ngIf="encuestaForm.get('edad')?.errors && 
                    (encuestaForm.get('edad')?.dirty || encuestaForm.get('edad')?.touched)">
                    <h4 class="text-danger" *ngIf="encuestaForm.get('edad')?.hasError('min')">
                        *Edad minima 18 años
                    </h4>
                </span>
                <input type="text" class="form-control" min="18" max="99" maxlength="2" required formControlName="edad">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="">Numero de telefono</label>

                <div *ngIf="encuestaForm.get('telefono')?.errors && 
                    (encuestaForm.get('telefono')?.dirty || encuestaForm.get('telefono')?.touched)">
                    <small class="text-danger" *ngIf="encuestaForm.get('telefono')?.hasError('required')">
                        ❌
                    </small>
                </div>

                <input type="number" class="form-control" maxlength="10" required formControlName="telefono">
            </div>
        </div>

        <div class="row">

            <div class="col ">
                <label for="">Te Gusto la pagina?</label>

                <div align="center">
                    <h1>{{preguntas.gustoDePagina}}</h1>
                    <input type="range" min="1" max="10"
                        style="background-color: -internal-light-dark(rgb(196, 11, 11), rgb(235, 8, 8));"
                        class="col-md-8 mb-4  " id="playHours" [(ngModel)]="preguntas.gustoDePagina"
                        [ngModelOptions]="{standalone: true}" />
                </div>
            </div>

        </div>

        <div>
            <hr style="background-color: white;">
        </div>

        <div class="row">
            <div class="col">
                <label>Que juego no jugaste?</label>
                <br>

                <div>
                    <div class="form-check">
                        <input type="checkbox" id="checkPiedraPapelTijera" class="form-check-input" value="true"
                            [(ngModel)]="preguntas.jugastePiedraPapelTijera" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="checkPiedraPapelTijera"> Piedra papel o tijera</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" id="checkTaTeTi" class="form-check-input" value="true"
                            [(ngModel)]="preguntas.jugasteTaTeTi" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="checkTaTeTi">Ta-te-ti</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" id="checkMemotest" class="form-check-input" value="true"
                            [(ngModel)]="preguntas.jugasteMemoTest" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="checkMemotest"> Memotest</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" id="checkRecuerdaLaSecuencia" class="form-check-input" value="true"
                            [(ngModel)]="preguntas.jugasteRecuerdaLaSecuencia" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" for="checkRecuerdaLaSecuencia"> Buscamina</label>
                    </div>

                </div>


            </div>

            <div *ngIf="encuestaForm.get('cualesJugaste')?.errors && 
                (encuestaForm.get('cualesJugaste')?.dirty || encuestaForm.get('cualesJugaste')?.touched)">
                <small class="text-danger" *ngIf="encuestaForm.get('cualesJugaste')?.hasError('required')">
                    *Debe seleccionar una opcion.
                </small>
            </div>

        </div>

        <div>
            <hr style="background-color: white;">
        </div>

        <div class="row">
            <div class="col">
                <label for="">Cuantas horas crees que jugaste?</label>
                <br>

                <input type="radio" formControlname="juego" id="radioPiedraPapelTijera" value="PiedraPapelTijera"
                    [(ngModel)]="preguntas.cualTeGustoMas" [ngModelOptions]="{standalone: true}">
                <label for="radioPiedraPapelTijera">1hs o menos</label>
                <br>

                <input type="radio" formControlname="juego" id="radioTaTeTi" value="TaTeTi"
                    [(ngModel)]="preguntas.cualTeGustoMas" [ngModelOptions]="{standalone: true}">
                <label for="radioTaTeTi">3hs o mas</label>
                <br>

                <input type="radio" formControlname="juego" id="radioMemoTest" value="MemoTest"
                    [(ngModel)]="preguntas.cualTeGustoMas" [ngModelOptions]="{standalone: true}">
                <label for="radioMemoTest">salir? para que..</label>
                

            </div>
        </div>

        <section class="modal-footer ">
            <button class="btn btn-success" type="button" [disabled]="!encuestaForm.valid"
                (click)="this.AgregarRespuesta()">Enviar</button>


        </section>

    </form>


</section>