/* You can add global styles to this file, and also import other style files */ 
@import "../node_modules/bootstrap/scss/bootstrap"; 
@import "../node_modules/bootswatch/dist/superhero/bootswatch";
@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";
 @font-face {
    font-family: gameplay;
    src: url(assets/fonts/gameplay/Gameplay.ttf) format("opentype");
  }

  @font-face {
    font-family: game;
    src: url(assets/fonts/games/ARCADECLASSIC.TTF) format("opentype");
  } 


html, body { height: 100%;}
body { margin: 0; font-family: game, "Helvetica Neue", sans-serif !important; }

