
 @font-face {
    font-family: gameplay;
    src: url(assets/fonts/gameplay/Gameplay.ttf) format("opentype");
  }

  @font-face {
    font-family: game;
    src: url(assets/fonts/games/ARCADECLASSIC.TTF) format("opentype");
  } 


html, body { height: 100%;}
body { margin: 0; font-family: game, "Helvetica Neue", sans-serif !important; }

